
@font-face {
    font-family: "TekoBold";
    src: url(Teko-Bold.ttf)
}


.container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "navbar title title" "navbar my_portarit my_portarit" "navbar about cv";
}

body {
    font-family: "TekoBold";
}

#logo {
    width: 105px;
    height: 105px;
    border-radius: 5px;
}

#name_title {
    font-size: 80px;
}

#shalom {
    font-size: 40px;
}

#experince {
    font-size: 20px;
}

#education {
    font-size: 20px;  
}


#potrait {
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.addMore{
    font-family: "TekoBold";
    border: none;
    width: 100px;
    height: 50px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }
  .addMore:hover{
    border: 1px solid #888;
    background-color: #ddd;
  }

  @media screen and (max-width: 600px) {
    .hide {
      display: none;
    }
  }